<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExcelCompare.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ExcelCompare.Properties.Settings>
            <setting name="ExcelExtension" serializeAs="String">
                <value>All Files|*.xls;*.xlsx;*.csv|Excel File|*.xls;*.xlsx|CSV|*.csv</value>
            </setting>
            <setting name="CSVExtension" serializeAs="String">
                <value>CSV|*.csv</value>
            </setting>
            <setting name="CSVSeperaterChar" serializeAs="String">
                <value>;,\t|</value>
            </setting>
            <setting name="ExportResultFileName" serializeAs="String">
                <value>result_{0}.xls</value>
            </setting>
        </ExcelCompare.Properties.Settings>
    </applicationSettings>
</configuration>